@import 'src/assets/variables';

:host {
  display: grid;
  overflow-y: hidden !important;
  @extend %main-content-grid;

  .action-bar {
    @extend %main-content-actionbar;

    .title {
      @extend %action-bar-title;
      align-self: center;
    }

    .actions {
      display: flex;
    }
  }

  .formcont {
    display: grid;
    overflow-y: auto;/*added*/

    .main-pane {
      display: grid;
      @extend %main-content-pane;

      form {
        display: grid;
      }
    }
  }
}

.form-grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: 20px;
}
