
<div class="demo-banner">
  <span>PRUEBA PILOTO</span>
</div>

<div class="main-top">
  <app-loader class="app-loader"></app-loader>

  <div class="main-top-bg">
    &nbsp;&nbsp;
  </div>

  <div class="main-top-content">
    <div class="logo">
    </div>

    <div class="main-top-banner">
    </div>

<!--    <button (click)="this.redirect()">redirect</button>-->
    <app-user-bit></app-user-bit>
  </div>
</div>



<div class="side-nav">
  <app-side-nav></app-side-nav>
</div>

<div class="main-content-pane">
  <router-outlet></router-outlet>
</div>
