:host {
  display: grid;
  background-color: #621132;
  background-image: url("../../../assets/background-authserver-v01.png");
  background-size: cover;
  height: 100vh;
  grid-template-columns: minmax(0, 1fr);

  .form-main {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: minmax(340px, 450px);
    grid-template-rows: minmax(0,auto) minmax(0, auto);

    .app-name {
      margin: 15px;
      font-family: Arial;
      font-size: 18pt;
      font-weight: bold;
      color: white;
      line-height: 18pt;
      padding: 0px;
      align-self: self-end;

      display: grid;

      span {
        align-self: self-end;
      }
    }

    .form-cont {
      display: grid;
      margin: 15px;
      padding: 10px 30px 10px 30px;
      background-color: white;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: minmax(0,65px) repeat(4, minmax(0,auto));

      .logo {
        grid-column: 1/-1;
        overflow: hidden;
        img {
          //width: 100%;
          height: 100%;
        }
      }

      .title-cont {
        grid-column: 1/-1;
        font-family: Arial;
        font-size: 18pt;
        font-weight: bold;

        display: grid;
        grid-template-columns: minmax(0, auto) minmax(0, 1fr);

        .title {
          align-self: center;
          height: 50px;
          width: 160px;
          p {
            padding: 0px;
            line-height: 0px;
          }
        }

        .spinner {
          align-self: center;
          width: 40px;
          height: 40px;
        }
      }

      .span-01 {
        grid-column: 1/-1;
      }

      .pwd-btn {
        grid-column: 2/-1;
      }



      .link-cont {
        height: 30px;
        display: grid;

        a, .s-link {
          font-family: Arial;
          font-size: 10pt;
          color: blue;
          cursor: pointer;
        }
        a:hover {
          text-decoration: underline;
        }
      }

      .error-cont {
        height: 30px;
        display: grid;

        span {
          align-self: start;
          color: red;
        }
      }

      .btn-cont {
        display: grid;
      }
    }
  }


}



.ref-font {
  font-family: Arial;
  font-size: 10pt;
}
